<%= form_with(model: product_review_index_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :Comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
