<%= form_with(model: @product_review) do |form| %>
  <div class="field">
    <%= form.label :Comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
