<h1>Be a seller on VMart</h1>
<p>Why you should be a seller on VMart</p>
<ul>
  <li>
    VMart is e-commerce web application which means you can sell you product all over the world 
  </li>
</ul>

<%= button_to "Start Selling", new_user_detail_path, method: :get %>