<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputRole" class="form-label">Role</label>
    <select id="inputRole" class="form-select">
      <option selected>Seller</option>
      <option>Buyer</option>
    </select>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputLandmark" class="form-label">Landmark</label>
    <input type="text" class="form-control" id="inputLandmark" placeholder="Near to school, square etc.">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Madhya Pradesh</option>
      <option>Rajisthan</option>
      <option>Utter Pradesh</option>
      <option>Andhra Pradesh</option>
      <option>Tamil Nadu</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>